@import '../../main-style.scss';
.layout-box {
  display: flex;
  flex-direction: column;

  height: 100%;
  overflow: hidden;

  .page-content {
    flex-grow: 1;
    overflow-y: scroll;
  }
}

.top-bar {
  width: 100%;
  height: 68px;

  box-shadow: 0px 0px 20px 0px rgba($color: #000000, $alpha: 1.0);
  background: linear-gradient(to right, $pink2, $purple);

  display: flex;
  flex-shrink: 0;// prevents top bar from shrinking
  justify-content: center;
  align-items: center;
  h1 {
    color: whitesmoke;
    font-size: 24px;
  }
}
