<div class="announcements-list-container">

  <div>
    <div *ngFor = "let announcement of announcements" class="announcements">
      <app-announcement
       [message] = announcement.message
       [title] = announcement.title
       [author] = announcement.author
       [id] = announcement.id
       [imageUrl]="announcement.imageUrl"
       (getAnn)="updateAnnList($event)"
       >
      </app-announcement>
    </div>
  </div>

  <button class="button floating-add-button is-primary" [routerLink]="'/new'">+ Add</button>
</div>
